# The following file extensions and directories will be ignored:

*.user
*.o
*.obj
*.exe
*.txt
*.tgz
*.pdf
*.DS_Store
*.stash


build*/
*/**/build
.vscode/
.vs/
references/
QtWidgetAppsCollection/AD_Viewer_Emulator/


cm/.qtc_clangd/
cm/aux
cm/binaries

qt6_sources/
qt_creator_sources/