# The following file extensions and directories will be ignored:

*.user
*.o
*.obj
*.exe
*.txt
*.tgz
*.pdf


build-*/
reference/
Qt6QML_Showcases/
BasicEditor/
CustomizeUserWidget/
Hello*/
QT5.9Samp*/
FancyWidgetApp/
LayoutWidgets/
**/build/