# The following file extensions and directories will be ignored:

*.user
*.o
*.obj
*.exe
*.txt
*.tgz
*.pdf


build*/
.vscode/
reference/
Qt6QML_Showcases/
BasicEditor/
CustomizeUserWidget/
Hello*/
QT5.9Samp*/
FancyWidgetApp/
LayoutWidgets/
references/QT*/
QtWidgetAppsCollection/AD_Viewer_Emulator/


cm/.qtc_clangd/
cm/aux
cm/binaries
cm/*.stash
cm/*.DS_Store

qt6_sources/
qt_creator_sources/

*/**/build
